<body>
    <h1>Name: <%= @recipe.name %></h1>
    <p>Ingredients: <%= @recipe.ingredients %></p>
    <p>Cook Time: <%= @recipe.cook_time %> minutes</p>
    <form method="post" action="/recipes/<%= @recipe.id %>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <button type="submit" value="delete">Delete</button>
    </form>
  </body>
</html>

#<!--<%= @recipe.name %></br>
#<%= @recipe.ingredients %></br>
#<%= @recipe.cook_time %>
   
#<form method="POST" action="/recipes/<%= @recipe.id %>">
#<input type="hidden" name="_method" value="delete"/>
#<input type="submit" value="delete"/>
#</form>-->